@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-bg1: #ede7de; 
  --color-bg2: hsl(113.33deg 22.5% 84.31%);
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ede7de; 
}

.link-transition {
  transition: background-color 0.5s ease, color 0.3s ease;
}


.gradient-bg {
  width: 100vw;
  height: 100%;
  background: var(--color-bg1);
}

.spotlight {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.1s ease-out, border 0.1s ease-out;
}

.highlight {
  position: relative;
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.highlight:hover {
  background-color: #2980b9;
}
