@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --color-bg1: #ede7de; 
  --color-bg2: hsl(113.33deg 22.5% 84.31%);
  --background: #364442;
  --beige: #ede7de;
  --buttonbeige: #f6f3ee;
  --darkgray: #364442;
  --darkgreen: #025a4e;
  --secondary: #4c6763;
  --white: #f4f3f0;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.link-transition {
  transition: background-color 0.5s ease, color 0.3s ease;
}

.gradient-bg {
  width: 100vw;
  height: 100%;
  background: var(--color-bg1);
}


body{
  margin: 0px;
  background: var(--background); 
  color: var(--color-bg1);
  overflow: hidden;
/* Hide scrollbars */
  cursor: wait;
}

@media (max-width: 1024px) {
  body {
    overflow: visible;
  }
}